<!-- src/app/header/header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Autotask Docu <i class="bi bi-building-gear icon-custom"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Use me-auto instead of ms-auto -->
        <li class="nav-item dropdown" class="dropdown"
        (mouseenter)="onHoverStart()"
        (mouseleave)="onHoverEnd()">
          <span>Features <i class="fa-solid fa-caret-down"></i></span>
          <ul class="header-items"  class="dropdown-menu" [class.show]="showDropdown">
            <div class="feature-items">
              <div class="convert-to-pdf-list">
                <h6>Convert to PDF</h6>
                <ul>
                  <li (click)="onClick()" ><a routerLink="/autofill"><i class="bi bi-file-earmark-pdf-fill fs-5 custom-icon-red"></i>Auto-Fill</a></li>
                  <li (click)="onClick()"><a routerLink="/jpg_pdf"><i class="bi bi-filetype-jpg fs-5 custom-icon-yellow"></i>JPG to PDF</a></li>
                  <li (click)="onClick()"><a routerLink="/word_pdf"><i class="bi bi-file-earmark-word-fill fs-5 custom-icon-blue"></i>WORD to PDF</a></li>
                  <li (click)="onClick()"><a routerLink="/pp_pdf"><i class="bi bi-file-earmark-ppt-fill fs-5 custom-icon-red"></i>POWERPOINT to PDF</a></li>
                  <li (click)="onClick()"><a routerLink="/excel_pdf"><i class="bi bi-file-earmark-excel fs-5 custom-icon-green"></i>Excel to PDF</a></li>
                  <li (click)="onClick()"><a routerLink="/html_pdf"><i class="bi bi-filetype-html fs-5 custom-icon-orange"></i>HTML to PDF</a></li>
                </ul>
              </div>
              <div class="convert-from-pdf-list">
                <h6>Organize PDF</h6>
                <ul>
                  <li (click)="onClick()"><a routerLink="/jpg_pdf/reverse"><i class="bi bi-file-earmark-pdf-fill fs-5 custom-icon-red "></i>Merge PDFs</a></li>
                  <li (click)="onClick()"><a routerLink="/word_pdf/reverse"><i class="bi bi-file-earmark-pdf-fill fs-5 custom-icon-red "></i>Split PDF</a></li>
                  <li (click)="onClick()"><a routerLink="/pp_pdf/reverse"><i class="bi bi-file-earmark-pdf-fill fs-5 custom-icon-red"></i>Remove Page</a></li>
                  <li (click)="onClick()"><a routerLink="/excel_pdf/reverse"><i class="bi bi-file-earmark-pdf-fill fs-5 custom-icon-red "></i>Extract Page</a></li>
                  <li (click)="onClick()"><a routerLink="/html_pdf/reverse"><i class="bi bi-file-earmark-pdf-fill fs-5 custom-icon-red "></i>PDF to HTML</a></li>
                </ul>
              </div>
            </div>
          </ul>
        </li>
      </ul>
















      <!-- Hide log in and sign up for later usages -->
      <!-- <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link signup" href="#">Sign up</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</nav>
