<!-- src/app/header/header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Autotask Docu <i class="bi bi-building-gear icon-custom"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Use me-auto instead of ms-auto -->
        <li class="nav-item header-items">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-items" href="#">Features</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link header-items" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-items" href="#">About</a>
        </li> -->
      </ul>
      <!-- Hide log in and sign up for later usages -->
      <!-- <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link signup" href="#">Sign up</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</nav>
