@import '.././app.component.scss'; // Adjust the path as necessary
.custom-footer {
    background-color: $footer-color;
    padding-bottom: 0.1rem;
    font-size: smaller;
    padding-left: 1rem;
    padding-top:1rem ;

}