// src/styles/variables.scss

// Color Variables
$primary-color: #FCF7F0; // Bright Coral
$secondary-color: #6a5acd; // Slate Blue
$header-color: #f7f3f1; // White for text
$footer-color: #FCF7F0; // White for text

// Font Variables
$font-family-base: 'Roboto', sans-serif; // Base font
$header-font-size: 2rem; // Header font size
$header-family-base: "Coustard", serif; // Base font


