.title-custom {
    justify-self: center;
    padding-top: 2rem;
    color: #4a4a4a;
    font-size: 30px;
    line-height: 34px;
    padding-left: 1%;
    font-weight: 800;
}

.sub-title-custom {
    justify-self: center;
    font-size: 16px;
    font-weight: 200;
    padding-left: 1%;
}

.btn-for-convert-word {
    .btn-word {
        background-color: #2d64e5;
    }
}

.custom-btn-container {
    padding-top: 3rem;
}

.btn-for-convert-excel {
    .btn-excel {
        background-color: #1aab5b;
    }
}

.cloud-icons {
    display: flex;
    justify-content: end;

    .btn-icon {
        color: #e5322d;
        font-size: large;
        margin: 0.2rem;
        cursor: pointer;
    }

}

.btn-icon {
    cursor: pointer;
    position: relative;
}

.hover-message {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2f2f2f;
    color: #e2e2e2;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    z-index: 1;
    font-size: 0.7rem;
    font-weight: bolder;
    font-family: auto;
}

.btn-icon:hover .hover-message {
    visibility: visible;      /* Show on hover */
    opacity: 1;               /* Fully visible */
}

.radio-box {
  margin-top: 12rem;
}



.btn-submit-word {
  background-color: #123da2 !important;
}


.btn-submit-word, .btn-submit, .btn-download, .btn-word, .btn-excel,  .btn-convert{
  padding: 1rem;
  font-size: larger;
  background-color: #e5322d;
  color: white;
  width: 27rem;
}

.btn-download {
  background-color: #932c29 !important;
}

.drop-labal, .file-name {
  margin-top: 0.5rem;
  font-weight: 100;
  font-weight: light;
}

.custom-file-name {
  max-width: 50%;
}

/* Change the background color of the switch when it's checked */
#flexSwitchCheckDefault:checked {
  background-color: #284aa7; /* Green color */
}

/* Change the color of the switch when it's checked */
#flexSwitchCheckDefault:checked + .form-check-label {
  color: #284aa7; /* Change text color if needed */
}

.form-check-label {
  font-weight: bolder;
  color: #9f4947;
}

/* Optional: Change the color of the toggle handle */
#flexSwitchCheckDefault:checked::before {
  background-color: #fff; /* White handle when toggled */
}



.file-name-excel {
  color: #1aab5b;
}

.file-name-word {
  color: #284aa7;
}

.p-file-ready {
  color: #9f4947;
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 0 5%;
}


.bi-arrow-right-circle {
  padding-left: 1rem !important;
}

/* For medium-sized screens */
@media (max-width: 768px) {
  .btn-submit-word, .btn-submit, .btn-word, .btn-excel, .btn-download, .btn-convert {
    width: 22rem; /* 50% width on medium screens (tablets) */
  }
  .radio-box {
    margin-top: 3rem;
    padding-left: 6%;
  }
  .btn-submit-container-custom {
    margin-bottom: 4rem;
  }
}
