
<div class="custom-main">
  <h2 class="title-custom">Powerpoint to PDF</h2>
  <h5 class="sub-title-custom">Convert Powerpoint to PDF in seconds. Easily adjust orientation and margins.</h5>
  <form>
    <!-- File uploader fields -->
    <div class="d-flex flex-fill flex-wrap  gap-3 justify-content-center align-items-center custom-btn-container" *ngIf="!fileReady">
      <div class="container-for-convert">
        <!-- Drop zone for .docx files -->
        <div
          class="drop-zone"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDropFile($event)"
        >
          <input
            type="file"
            id="fileInput"
            accept=".ppt, .pptx, .pptm, .pot, .potx, .potm, .pps, .ppsx, .ppsm, .odp"
            style="display: none;"
            (change)="onFileSelected($event)"
          />
          <button type="button" class="btn btn-convert" (click)="triggerInput()">Select Powerpoint File</button>
        </div>
        <!-- Selection Options from cloud -->
        <div class="d-flex flex-fill flex-wrap gap-3  justify-content-center align-items-center" *ngIf="!fileReady">
          <div class="cloud-icons">
            <!-- <i class="fa-brands fa-google-drive btn-icon">
              <span class="hover-message">Select Word from Google Drive</span>
            </i> -->
            <i class="fa-brands fa-dropbox btn-icon" (click)="openDropboxChooser(1)">
              <span class="hover-message">Select Powerpoint from Dropbox</span>
            </i>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex flex-fill flex-wrap justify-content-center align-items-center" *ngIf="!fileReady">
      <div class="drop-labal">Or drop Powerpoint files here</div>
    </div>


    <!-- Display uploaded files' name -->
    <div class="d-flex flex-fill flex-wrap gap-3  justify-content-center align-items-center" *ngIf="!fileReady">
      <p *ngIf="selected" class="file-name file-name">{{ selected.name }}</p>
    </div>


    <!-- Generating Action -->
    <div class="d-flex flex-fill flex-wrap  gap-3 justify-content-center align-items-center custom-btn-container btn-submit-container-custom" *ngIf="!fileReady">
      <button type="submit" class="btn btn-submit" [disabled]="!selected " (click)="onGenerateClick()">Convert to PDF <i class="bi bi-arrow-right-circle"></i></button>
    </div>


    <div class="d-flex flex-fill flex-wrap  gap-3 justify-content-center align-items-center custom-btn-container" *ngIf="fileReady">
      <p  class="p-file-ready">Great !! Your file is ready to be downloaded.</p>
    </div>

    <div class="d-flex flex-fill flex-wrap  gap-3 justify-content-center align-items-center custom-btn-container" *ngIf="fileReady">
      <button type="click" class="btn btn-download" (click)="downloadFile()">Download File</button>
    </div>

  </form>
</div>




